#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  padding-top: 5vh;
  margin-top: auto;
}

.footer-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px 50px 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  text-align: center;
}

.footer-section h3{
  margin-bottom: 18px;
  font-weight: 600;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.7;;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 12px;
}

.footer-section a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  text-shadow: 
    0 0 5px #fff,
    0 0 15px #fff;
}

.footer-bottom {
  border-top: 1px solid #222;
  text-align: center;
  padding: 22px 0;
  font-size: 13px;
  color: #888;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
