.footer {
  background-color: #0d0d0d;
  color: #ffffff;
  padding-top: 5vh;
}

.footer-container {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  text-align: center;
}

.footer-section h3{
  font-weight: 600;
}

.footer-section p {
  font-size: 14px;
  margin: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 10px;
}

.footer-bottom {
  border-top: 1px solid #222;
  text-align: center;
  padding: 22px 0;
  font-size: 13px;
  color: #888;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
