@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #111;
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 65px;
  object-fit: contain;
  cursor: pointer;
}

.nav-vehicles, .nav-workshop, .nav-account{
  color: #ffffff;
  cursor: pointer;
}

.nav-vehicles:hover{
  text-shadow: 
    0 0 5px #fff,
    0 0 15px #fff;
}
.nav-workshop:hover{
  text-shadow: 
    0 0 5px #fff,
    0 0 15px #fff;
}
.nav-account:hover{
  text-shadow: 
    0 0 5px #fff,
    0 0 15px #fff;
}

.nav-right-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-right {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 50px;
}

@media (max-width: 900px) {
  .nav-right {
    gap: 20px;
  }

  .logo img {
    height: 50px;
  }
}

@media (max-width: 700px) {
  .nav {
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }

  .nav-right-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .nav-right {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
