@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
}

.models-container {
  padding: 20px 40px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.page-header h1 {
  margin: 0;
  font-weight: 600;
}

.search-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.search-input {
  padding: 12px 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #000;
}

.categories{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 0;
  padding-bottom: 30px;
}

.categories button{
  border: 0;
  border-bottom: 1px solid black;
  background-color: white;
  transition: 0.3s;
}

.categories button:hover{
  font-weight: bold;
}

.categories button.active{
  border-bottom: 1px solid #917300;
}

.models-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.model-card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.model-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  cursor: pointer;
}

.model-logo {
  height: 30px;
  margin-bottom: 20px;
  object-fit: contain;
}

.model-img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 4px;
}

.model-name {
  font-size: 1.2rem;
  color: black;
}

.no-results {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  margin-top: 50px;
}