.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top h1{
    font-weight: 600;
}

.seeAll {
    border-bottom: 1px solid black;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}

.seeAll:hover {
    font-weight: bold;
}

.carousel-indicators button {
    width: 35px !important;
    height: 4px !important;
    background-color: #000 !important;
    opacity: 0.3;
    border: none !important;
    margin: 0 5px;
    padding: 0;
    transition: opacity 0.3s ease;
}

.carousel-indicators .active {
    opacity: 1 !important;
    background-color: #917300 !important;
}

@media (max-width: 768px) {
    .carousel-indicators {
        position: static !important;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    #myCarousel {
        display: flex;
        flex-direction: column;
    }

    .carousel-indicators {
        order: 2;
    }

    .top h1 {
        font-size: 1.5rem;
    }

    .seeAll {
        font-size: 0.85rem;
        padding-bottom: 2px;
    }
    
    .top {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.carousel-item {
    height: 100%;
    transition: transform 1.2s ease-in-out !important;
}

.carousel-item > .slide-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slide-content img {
    max-width: 65%;
    height: auto;
    object-fit: contain;
}

.addFav{
    background-color: #917300;
    color: white;
    border: 0;
    transition: 0.3s;
}

.addFav:hover{
    background-color: #5e4b01;
}

.details_btn{
    background-color: #0d0d0d;
    color: white;
    font-weight: normal;
    border: 0;
    transition: 0.3s;
}

.details_btn:hover{
    font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;
    z-index: 10;
}

.carousel-control-prev {
    left: 20px !important;
}

.carousel-control-next {
    right: 20px !important;
}

.custom-hex {
    width: 60px;
    height: 65px;
    background: #0f0f0f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    clip-path: polygon(
        50% 0%,
        100% 25%, 
        100% 75%, 
        50% 100%,
        0% 75%, 
        0% 25%
    );
    transition:  0.3s;
}

.custom-hex:hover{
    background: #917300;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons button{
    padding: 10px;
    border-radius: 5px;
}

.huracans{
    display: flex;
    gap: 50px;
    padding: 20px;
}

.huracans button{
    border: 0;
    border-bottom: 1px solid black;
    background-color: white;
    transition: 0.3s;
}

.huracans button:hover{
    font-weight: bold;
}

.huracans button.active{
    border-bottom: 1px solid #917300;
}

.urus{
    display: flex;
    gap: 50px;
    padding: 20px;
}

.urus button{
    border: 0;
    border-bottom: 1px solid black;
    background-color: white;
    transition: 0.3s;
}

.urus button:hover{
    font-weight: bold;
}

.urus button.active{
    border-bottom: 1px solid #917300;
}