.carousel-item {
    height: 100%;
    transition: transform 1.2s ease-in-out !important;
}

.carousel-item-next.carousel-item-start,
.carousel-item-prev.carousel-item-end {
    transform: translateX(0);
}

.carousel-item-next,
.carousel-item-end {
    transform: translateX(100%);
}

.carousel-item-prev,
.carousel-item-start {
    transform: translateX(-100%);
}

.carousel-item > .slide-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slide-content img {
    max-width: 65%;
    height: auto;
    object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
    width: 80px;
    opacity: 1;
}

.custom-hex {
    width: 60px;
    height: 65px;
    background: #0f0f0f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    clip-path: polygon(
        50% 0%,
        100% 25%, 
        100% 75%, 
        50% 100%,
        0% 75%, 
        0% 25%
    );
}

.custom-hex:hover{
    background: #917300;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top h1{
    font-weight: 600;
}

.seeAll {
    border-bottom: 1px solid black;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}

.seeAll:hover {
    font-weight: bold;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons button{
    padding: 10px;
    border-radius: 5px;
}

.huracans{
    display: flex;
    gap: 50px;
    padding: 20px;
}

.huracans button{
    border: 0;
    border-bottom: 1px solid black;
    background-color: white;
    transition: 0.3s;
}

.huracans button:hover{
    font-weight: bold;
}

.huracans button.active{
    border-bottom: 1px solid #917300;
}

.urus{
    display: flex;
    gap: 50px;
    padding: 20px;
}

.urus button{
    border: 0;
    border-bottom: 1px solid black;
    background-color: white;
    transition: 0.3s;
}

.urus button:hover{
    font-weight: bold;
}

.urus button.active{
    border-bottom: 1px solid #917300;
}


.askOffer{
    background-color: #917300;
    color: white;
    border: 0;
    transition: 0.3s;
}

.askOffer:hover{
    background-color: #5e4b01;
}

.details{
    background-color: white;
    border: 1px solid black;
    transition: 0.3s;
}

.details:hover{
    font-weight: bold;
}
