.homepage-main {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.background-video {
  filter: brightness(25%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 2rem;
}