* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #111;
  padding: 20px 0;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 65px;
  object-fit: contain;
  cursor: pointer;
}

.nav-vehicles, .nav-workshop, .nav-offers, .nav-account{
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.nav-vehicles:hover{
  color: #917300;
}
.nav-workshop:hover{
  color: #917300;
}
.nav-offers:hover{
  color: #917300;
}
.nav-account:hover{
  color: #917300;
}

.nav-right-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-right {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
}

@media (max-width: 900px) {
  .nav-right {
    gap: 20px;
  }

  .logo img {
    height: 50px;
  }
}

@media (max-width: 700px) {
  .nav {
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }

  .nav-right-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .nav-right {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
