.homepage-main {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.background-video {
    filter: brightness(15%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content {
    position: absolute;
    gap: 2vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.content h1, .content p{
    margin-inline: 20px;
}
